{% extends 'template.sbadmin.html.twig' %}
{% block title %}{{ parent() }} - Récupération de mot de passe{% endblock %}
{% block classbody %} class="bg-primary"{% endblock %}
 {% block content %}
     <div id="layoutAuthentication">
         <div id="layoutAuthentication_content">
             <main>
                 <div class="container">
                     <div class="row justify-content-center">
                         <div class="col-lg-5">
                             <div class="card shadow-lg border-0 rounded-lg mt-5">
                                 <div class="card-header">
                                     {% if alert is defined %}
                                         <div class="alert text-center alert-danger position-relative toHide">
                                             <button type="button" class="btn-close position-absolute m-2 top-0 end-0" aria-label="Close"></button>
                                             <h5 class="m-0 mt-1">Une erreur est survenue</h5>
                                             <h6 class="m-0 mt-1">{{ alert }}</h6>
                                         </div>
                                     {% endif %}
                                     <h4 class="text-center font-weight-light my-4">Récupération de
                                         votre mot de passe</h4>
                                     <h5 class="text-center font-weight-light my-3">
                                         Veuillez remplir la case ci-dessous</h5></div>
                                 <div class="card-body">
                                     <form action="" method="post" name="recoveryPwd">
                                         <div class="form-floating mb-3">
                                             <input name="email" class="form-control"
                                                    id="email" type="email" placeholder="Votre adresse mail"
                                                    autocomplete="email" required autofocus/>
                                             <label for="email">Votre adresse mail</label>
                                         </div>
                                         <div class="text-center">
                                             <input class="btn btn-primary w-100 mb-2" type="submit" value="Envoyer">
                                             <a role="button" class="btn btn-secondary w-100" type="submit" href="{{ path("app_homepage") }}">Vous avez changer d'avis?</a>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                     </div>
             </main>
         </div>
     </div>
 {% endblock %}
