{% extends 'base.html.twig' %}
{% block body %}

<div class="text-center">
    <h3>Vue test</h3>

    <div id="app" class="jumbotron text-center">
        <example></example>
    </div>
</div>

{% endblock %}