{% extends "layout/layout.html.twig" %}
{% block main %}
<h1>ChartJs avec Vue</h1>
<p>creation d'un component</p>

    <div id="GraphStats" class="text-center">
        <stats></stats>
    </div>

{% endblock %}