body {
    background-color : lightgray;
}

::-webkit-scrollbar {
    width : 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background-color : var(--bs-gray-900);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color : var(--bs-gray-600);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color : var(--bs-gray-700);
}